
.about {
  margin-bottom: 5rem;
}

.about__container {
  background: url('../img/color/2.png') no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

.about__color-5,.about__color-6{
  display: none;
}

.about__photo {
  display: block;
  height: 100vh;
  width: 40%;
  max-width: 49rem;
  filter: grayscale(30%);
  object-fit: cover;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin: 0 auto 2rem;
  text-align: center;
  color: #000000;
  font-weight: bold;
}


.title-mobile {
  display: none;
}

.about__content {

  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}



.about__content-info {
  max-width: 70rem;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: .5rem;
}

.about__content-info:nth-child(4) {
  margin-bottom: 7rem;
}

.about__content-info:nth-child(5) {
  font-size: 1.6rem;
  margin-bottom: 1rem;

}

.about__items {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.about__content-item {
  position: relative;
  background: rgba(252, 252, 252, 0.6);
  width: 25rem;
  /* height: 25rem; */
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 2rem .5rem;
  box-shadow: 0 0 0.6rem 0 #00000047;
}

.new.about__content-item::after {
  content: 'NEW';
  position: absolute;
  padding: 3px 5px;
  color: white;
  background: red;
  top: 0px;
  right: 0;
  box-shadow: 0 0 0.6rem 0 #00000047;
  transform: rotate(20deg);
}

.about__content-title {
  position: relative;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  padding-bottom: .5rem;
}

.about__content-title::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  transform: translateX(50%);
  height: 1px;
  opacity: .2;
  background: #000;
}

.about__content-price {
  font-size: 1.2rem;
}

.insta__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.insta-link {
  position: relative;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 2rem;
  padding: 2rem 1rem 2rem 5rem;
  background: rgba(252, 252, 252, 0.3);
  transition: all 0.3s;
}

.insta-link::before {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: .5rem;
  top: 1rem;
  background-image: url(../img/ico/insta__.svg);
  background-size: cover;
}

.insta-link:hover {
  box-shadow: 0 0 .2rem .1rem #00000047;
}

.insta-link:active {
  opacity: .5;
  box-shadow: 0 0.1rem 0.2rem 0rem #00000047 inset;
}

.arrow-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-size: 1.4rem;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s;
  
}
.arrow-link:hover{
  transform: translateX(-50%) scale(1.5);
  bottom: 3rem;
  color: #346e5b;
}
.arrow-down {
  opacity: 1;
  margin-top: 1rem;
  width: 3rem;
  transition: all .3s;
}