.footer {
  background-color: #3f4141;
  opacity: .7;
  padding: 1rem 0;
}

.footer__inner {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 0 1rem;

}

.footer__author {
  position: relative;
  color: #6a6a6b;
  font-size: 1.5rem;
  transition: all .3s;
}

.footer__author:hover {
  position: relative;
  transition: all .3s;

}

.footer__social{
}
.social-link+.social-link{
  margin-left: .5rem;
}
.social-img {
  width: 3rem;
  opacity: .5;
  filter: grayscale(1);
  transition: opacity 0.3s linear;
}

.social-img:hover {
  opacity: 1;
  filter: grayscale(0);
}