.footer {
  background-color: #3f4141;
  /* opacity: .7; */
  margin-top: auto;
  padding: 1rem 0;
}

.footer__inner {
  display: flex;
  justify-content: end;
  gap: 2rem;
  align-items: center;
  padding: 0 1rem;

}

.footer__author {
  font-family: 'Cuprum', sans-serif;
  position: relative;
  color: #9b9b9e;
  font-size: 1.5rem;
  transition: all .3s;
}

.footer__author:hover {
  position: relative;
  transition: all .3s;

}

.social-link+.social-link{
  margin-left: .5rem;
}
.social-img {
  width: 3rem;
  opacity: .5;
  filter: grayscale(1);
  transition: opacity 0.3s linear;
}

.social-img:hover {
  opacity: 1;
  filter: grayscale(0);
}