::-webkit-scrollbar {
  width: 0;
  background: transparent; 
} 

body {
  font-family: "Roboto", sans-serif;
  /* background: #7fffd4; */
  background: linear-gradient(#7fffd4, #346e5b);
}
.container{
  max-width: 127rem;
  padding-right: 0 1.5rem;
  margin: 0 auto;
}
.page-section{
  min-height: 100vh;
}
/* ABOUT BEGIN */

/* .about{
  background: url('../img/about2.jpg') no-repeat;
  background-size: contain;
} */
.about__container{
  display: flex;
}
.about__photo {
  /* max-width: 100vh; */
  max-height: 100vh;
  border-radius: 3px;
  box-shadow: 5px 5px 6px 0 #00000047;

}
.about__title{
  /* display: inline-block; */
  font-size: 2.4rem;
  margin:3rem auto;
  color: #000000;
  font-weight: bold;
  /* text-align: center; */
  text-shadow: 0 0 6px #00000047;
}
.about__content{
  position: relative;
  margin: 0 auto;  
  padding: 0rem 5rem;
  text-align: center;
  /* text-align: right; */
}

.about__content-info{
  /* text-align: center; */

  /* max-width: 50rem; */
  font-size: 1.2rem;
  text-indent: 3rem;	
}
.about__content-item {
  background: rgba(252, 252, 252, 0.6);
  /* max-height: 80px; */
  font-size: 1rem;
  padding: .5rem 1.5rem;
  /* text-align: center; */
  box-shadow: 0 0 0.6rem 0 #00000047;
  /* border: 2px solid #00000047; */
  /* flex-wrap: wrap; */
  
}
.about__content-title{
  display: inline-block;
  color: #376958;
padding-bottom: 1rem;
  width: 100%;
  font-size: 1.3rem;
}
.about__content-price{
  font-size: 1.2rem;
}

/*  FORM */

form {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* margin: 3rem 0 0; */
}
.form__title{

  padding-bottom: .5rem;
  margin: 0 auto;

}
.form__item {
  background: rgba(252, 252, 252, 0.6);
  /* background-color: #fff; */
  border: none;
  width: 400px;
  max-height: 100px;
  margin: 10px auto;
  padding: 10px 10px;
  /* text-align: center; */
}
.form__item:focus{
  box-shadow: 0 0 5px #000000;
  outline: none;
}
.textarea {
  /* max-width: 900px; */
  /* max-height: 100px; */
  resize: none;
}
.form__btns{
  display: flex;
  /* margin: .5rem auto; */
  /* align-self: center; */
  align-items: center;
  justify-content: space-around;
}

.btn {
  background: rgba(252, 252, 252, 0.6);
  /* display: inline-block; */
  /* background-color: #4497c5; */
  /* margin-left: 1rem; */
  padding: 1rem 2rem;
  /* max-width: 150px; */
  border-radius: 0 20px 0 10px;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn:active {
  outline: none;
  box-shadow: 0 0 5px #000000;
}
.form__social-link{
  display: inline-block;
}
/*  FORM */
.arrow-down{
  position: absolute;
  margin-top: 3rem;
  width: 2rem;
  height: 1.5rem;
  bottom: 0.5rem;
  left: 5rem;
}
/* ABOUT END */

/* .portfolio__title{
  font-size: 1.2rem;
text-align: center;
margin: 0;
} */
.portfolio__content{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
max-width: 100%;
height: 100vh;
/* padding: 10rem; */
margin: 0 10rem;

}
.portfolio__item {
  margin: 10px;
  /* border-radius: 0 20px 0 10px; */
  width: 280px;
  height: 280px;
  /* padding: 0; */
}

/* GALLERY */
/* Position the image container (needed to position the left and right arrows) */
.gallery__container {
  position: relative;
}

/* Hide the images by default */
.full__photo {
  display: none;
  width: 50rem;
  margin: 5rem auto 0;
}
.full__photo img{
  /* width: 50rem; */
  height: 85vh;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  text-shadow: 1px 0 5px black, 3px 3px 5px black, -3px -3px 5px black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row{
  margin: 0 2rem 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  margin-right: 0.5rem;
  width: 6.2%;
  height: 100%;
  
  /* width:50px; */
}
.column:last-child{
  margin-right: 0;
  /* width: 500px; */
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* GALLERY */

.insta {
  animation: heartbeat 1.5s ease-in-out infinite both;
  width: 40px;
}
.insta:active {
  /* box-shadow: 0 0 5px #000000; */
  filter: drop-shadow(0 0 10px rgba(169, 47, 255, 1));
}

.name,
.contacts-item {
  font-size: 24px;
  color: #d8d8d8;
}
.contacts-item {
  text-decoration: none;
}
.title {
  font-size: 32px;
  margin: 0 auto;
}
.contacts-item:hover {
  color: brown;
}
/* MAIN */
.main__content-contacts {
  /* display: flex; */
}


/* MAIN END */
/* FOOOTER */
footer {
  background-color: #3f4141;
  height: 50px;
  padding: 5px 10px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-author {
  color: #6a6a6b;
  font-size: 15px;
}
.social-img {
  width: 30px;
  filter: opacity(0.3);
}
.social-img:hover {
  width: 30px;
  filter: opacity(1);
}
/* FOOTER END */
